<div
  style="padding-top: 50px"
  *ngIf="spinnerService.visibility | async; else data"
>
  <app-spinner></app-spinner>
</div>

<ng-template #data>
  <div class="container py-5">
    <h2 class="mb-4 h3">Featured Products</h2>
    <div
      class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
    >
      <div
        class="col mx-auto mx-sm-0"
        *ngFor="let product of productsList"
        style="height: 380px; max-width: 305px"
      >
        <app-product [productItem]="product" class="d-flex h-100"></app-product>
      </div>
    </div>
  </div>
</ng-template>
