<div class="container">
  <div *ngIf="cartProducts.length > 0; else empty">
    <table class="table">
      <thead>
        <tr class="row">
          <th class="col-2">Description</th>
          <th class="col-3"></th>
          <th class="col-3">Quantity</th>
          <th class="col-2">Remove</th>
          <th class="col-2">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of cartProducts"
          class="row d-flex align-items-center"
        >
          <td class="col-2">
            <div style="height: 120px">
              <img class="h-100" [src]="product.images[0]" alt="" />
            </div>
          </td>
          <td class="col-3">
            <div>
              <h6>{{ product.title }}</h6>
            </div>
          </td>
          <td class="col-3">
            <div>
              <button
                class="btn btn-outline-success"
                (click)="increase(product)"
              >
                +
              </button>
              <span class="mx-2">{{ product.quantity }}</span>
              <button
                class="btn btn-outline-secondary"
                (click)="decrease(product)"
              >
                -
              </button>
            </div>
          </td>
          <td class="col-2">
            <button
              class="btn btn-outline-danger"
              (click)="removeProduct(product)"
            >
              x
            </button>
          </td>
          <td class="col-2">
            {{
              product.price
                | discount : product.discountPercentage
                | currency : "USD" : "symbol" : "2.2-2"
            }}
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <span class="me-2">Total:</span>
      <span>{{ total | currency : "USD" }}</span>
    </div>
  </div>

  <ng-template #empty>
    <div class="mt-5 text-center">
      <h5 class="">Cart is Empty!</h5>
      <a class="btn btn-primary mt-3" [routerLink]="['../']">start shopping</a>
    </div>
  </ng-template>
</div>
