table tr {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
table td,
th {
  border: none !important;
}
button.plus {
  background-color: #289f8e;
  color: white;
}
button.plus:hover {
  background-color: #1f8f7e;
}
button.minus {
  background-color: #ddd;
}
button.minus:hover {
  background-color: #cacaca;
}
