.product-details .product {
  margin-top: 2.75rem;
}
.main-img-container {
  height: 350px;
  border: 1px solid #ddd;
}
.product__main-img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}
.product__images .thumbnails .thumbnail-container {
  width: 60px;
  height: 60px;
  padding: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}
.product__images .thumbnails .active {
  border: 1px solid gray;
}

.product__images .thumbnails .thumbnail-container img {
  max-height: 100%;
  object-fit: contain;
}
