/* You can add global styles to this file, and also import other style files */
/* .text-bg-blue {
  background-color: #0792e3e0 ;
} */

a {
  text-decoration: none !important;
}
img {
  width: 100%;
  display: block;
}
.rating {
  font-style: normal;
  display: inline-block;
  color: #cccccc;
}
.rating-container {
  width: fit-content;
}
.rating-bg {
  color: #ffdf00;
  overflow: hidden;
  display: flex;
  top: 0;
}
